{% extends 'base.html' %}
{% load static %}

{% block header %}
    <header>
    <nav class="container container--70">
        <ul class="nav--actions">
          {% if user.is_authenticated %}
            <li class="logged-user">
              Witaj {{ user.first_name }}
              <ul class="dropdown">
                <li><a href="/user_page/">Profil</a></li>
                <li><a href="#">Ustawienia</a></li>
                {% if user.is_superuser %}
                <li><a href="/admin/">Admin Panel</a></li>
                {% endif %}
                <li><a href="/logout/">Wyloguj</a></li>
              </ul>
            </li>
          {% else %}
            <li><a href="/login/" class="btn btn--small btn--without-border">Zaloguj</a></li>
            <li><a href="/register/" class="btn btn--small btn--highlighted">Załóż konto</a></li>
          {% endif %}
        </ul>

        <ul>
          <li><a href="/" class="btn btn--without-border">Start</a></li>
          <li><a href="/#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="/#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="/#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a href="/donate/" class="btn btn--without-border">Przekaż dary</a></li>
          <li><a href="/#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>
    </header>
{% endblock %}

{% block content %}
    <section class="login-page">
      <h2>Witaj {{ user.first_name }}</h2>
            <p><strong>Imię:</strong> <i>{{ user.first_name }}</i><br>
            <strong>Nazwisko:</strong> <i>{{ user.last_name }}</i><br>
            <strong>e-mail:</strong> <i>{{ user.email }}</i></p>
      <h2>Historia</h2>
        {% for donation in donations  %}
        <p class="archived" id="don-{{ donation.pk }}">
            Organizacja: {{ donation.institution }}<br>
            Ilość worków: {{ donation.quantity }}<br>
            Kategorie:
            {% for cat in donation.category.all %}
                {{ cat.name }},
            {% endfor %}<br>
            Odbiór: {{ donation.pick_up_date }}
            {% if donation.is_taken %}
            (Odebrane!)
            {% endif %}
            <form method="post" class="user-form">
            {% csrf_token %}
            {% if donation.is_taken %}
                <button class="btn--usr" type="submit" name="taken" value="{{ donation.pk }}n">Nie Odebrane</button>
            {% else %}
                <button class="btn--usr" type="submit" name="taken" value="{{ donation.pk }}y">Odebrane</button>
            {% endif %}
            </form>
            <script>
                if ('{{ donation.is_taken }}' == 'True') {
                let get_current_donation = document.querySelector('[id=don-' + {{ donation.pk }} + ']');
                get_current_donation.style.color = 'rgb(168,168,168)';
                };
            </script>
        </p>
        {% endfor %}
    </section>
{% endblock %}

